name: QA

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable && rustup component add rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: format
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable && rustup component add clippy
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Clippy check
        run: cargo clippy -- -D warnings

  check:
    name: Check Compilation
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Cargo check
        run: cargo check
